<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contest</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
    <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
            });
            </script>
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">

        <div class="container"><a class="navbar-brand logo" href="#" id="jhmctext">Junior High Math Contest
                2021</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span
                    class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="home">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="contest">Contest</a></li>
                    <li class="nav-item"><a class="nav-link" href="schedule">Schedule</a></li>
                    <li class="nav-item"><a class="nav-link" href="resources">Resources</a></li>
                    <li class="nav-item"><a class="nav-link active" href="results">Results</a></li>
                </ul>
            </div>
        </div>


    </nav>
    <main class="page" id="section_container" style="min-height: 90vh;">
        <section class="clean-block clean-info" id="section_main">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info pt-5">Thank you to everyone participated in this event!</h2>
                    <div class="text-dark">We hope you had fun solving
                        the challenging math problems. <br><br>Also, congratulations to those who won! <br><br><a
                            href="https://docs.google.com/presentation/d/1msdH64xjxEX4V7DhQop9GKw3KU_w_ZQ8z80D9vPa7-E/edit?usp=sharing">Click
                            here for Official
                            Results</a>
                    </div>
                </div>

            </div>
        </section>
        <section class="clean-block clean-info dark" id="section_main">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-dark">Contest Problems and Solutions</h2>


                </div>
                <h4>Problems: </h4>
                <hr>
                <iframe src="contestprobs.pdf" width="100%" style="min-height: 70vh;"></iframe>
                <br>
                <h4 class="mt-4">Solutions: </h4>
                <hr>
                <iframe src="contestsols.pdf" width="100%" style="min-height: 70vh;"></iframe>

            </div>
        </section>
        <section class=" clean-block clean-info" id="section_main">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-dark">Thank you to those who helped!</h2>

                </div>
                <p>
                    <Strong>Sponsor:</Strong> Mr. Steve Goodman
                </p>
                <p>
                    <Strong>Web Design:</Strong> Megan Wang
                </p>
                <p>
                    <Strong>Webapp Creation:</Strong> Eddie Kim
                </p>
                <p>
                    <Strong>Host:</Strong> Angela Zhao, Megan Wang, Howard Dai, Jaden Welch-Jani, Songyu Ye, Darshan
                    Kommanapalli
                </p>
                <p>
                    <Strong>Graders:</Strong> Brendan Biernacki, Thomas Mitchell, Olivia Zhao, Leah Goldberg, Ari
                    Ayzenberg
                </p>
                <p>
                    <Strong>Problem Writers:</Strong> Angela Zhao, Brendan Biernacki, Howard Dai, Ian Tarter, Jaden
                    Welch-Jani, Megan Wang, Milena Savic, Thomas Mitchell, Ari Ayzenberg, Ben Witzel, Stephanie Mei,
                    Rina Matsunaga, Roger Yang, Lauren Lee, Sabreen Nasir, Leah Goldberg, Olivia Zhao, Sam Mitchell
                </p>


            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div>
            <p id="contact-email" class="clean-info text-center">Questions? Contact&nbsp;<a class="text-info"
                    href="mailto:sgoodman@glenbrook225.org">sgoodman@glenbrook225.org</a></p>
        </div>
        <div class="footer-copyright">
            <p>©&nbsp;<a href="#">Junior High Math Contest 2021</a><br><br></p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <!-- <script src="contest.js"></script> -->
</body>

</html>